/* The Modal (background) */
.modal { /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: 500px;
  padding: 10px 10px 10px 40px;
  border-radius: 30px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#creator_board{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 400px;
  margin-top: 50px;
  align-items: start;
}
#assemble_canvas{
  border: 1px solid #000000;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 7;
  height: 100%;
  grid-row: 1;
}
#option_box{
  border: 1px solid #000000;
  display: flex;
  grid-column-start: 7;
  grid-column-end: 11;
  height: 100%;
  grid-row: 1;
}